{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="suhail vs">

  <meta name="domain" content="gec.stackschools.com" />
  <meta name="title" content="{% block metatitle %}SBI Challan{% endblock %}" />

  <meta name="description" content="{% block metadescription %}{% endblock %}" />
  <meta name="url" content="{% block metaurl %}https://gec.stackschools.com/{% endblock %}" />

  <title>{% block title %}{% endblock %}GEC Stack Schools</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap5/bootstrap.css' %}">
  <!-- Custom styles for this template -->
  <style>
    body {
      background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    }

    .container {
      max-width: 700px;
    }
  </style>
  {% block extracss %}
  {% endblock %}
</head>

<body>
  {% block body %}
  <div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="{% static 'sbi.svg' %}" style="height:30px">
          <span class="fs-4" style="margin-left: 10px;">SBI Challan</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

          <a class="py-2 text-dark text-decoration-none" style="padding-right: 20px;">Hi {{ user.username }}!</a>
          <a class="btn btn-warning" href="{% url 'logout' %}">Logout</a>
        </nav>
      </div>

    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap5/bootstrap.bundle.min.js' %}"></script>
    {% block extrajs %}
    {% endblock %}
    {% endblock %}
</body>

</html>