<html>

<head>
  <meta charset="utf-8">

  <title>PAY IN SLIP</title>
</head>
<style>
  table,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .blank td {
    padding: 5px;
  }

  @page {
    size: A4 landscape;
    margin: 10px;
  }

  body {
    font-size: 8px;
  }

  .noborder {
    border: none !important;
    padding: 20px;
  }
</style>

<body>
  <table class="noborder">
    <tr>
      <td style="border:none;border-right: 1px dashed black; padding:20px">
        <div class="bordered">
          <h2>SBI <small>DEPOSIT/PAY IN SLIP</small></h2>
          <p>State Bank of India <small>Date: / / 2021</small></p>
          <p>Branch:</p>
          <table class="blank">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
          <p>Name ___________________________________________</p>
          <p>Tel No _________________________________________</p>
          Amount <table class="blank">
            <tr>
              <td style="padding-right:200px"></td>
              <td></td>
            </tr>
          </table>
          <p>Rupees in Words ___________________________________</p>
          <table class="blank">
            <tr>
              <td colspan="6" style="background-color: black;color: white;">
                Cash/Cheque No/Date & Name of Bank & Branch</td>
            </tr>
            <tr>
              <td style="padding-right:100px"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td style="padding-right:100px"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td style="padding-right:100px"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </td>
      <td class="noborder">
        <!-- coloumn 2-->
        <table>
          <tr>
            <td colspan="4">
              <p>PAN No. </p>
              <table class="blank">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <p>OR</p>
              <p>Form 60
              <table class="blank">
                <tr>
                  <td></td>
                </tr>
              </table>
              </p>
              <small>For Cash Deposit of rs 50,000/- & Above</small>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="background-color: black;color: white;">
              CASH DEPOSIT</td>
          </tr>
          <tr>
            <td>Notes</td>
            <td>No.</td>
            <td>RS</td>
            <td>P</td>
          </tr>
          <tr>
            <td>2000 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>500 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>200 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>100 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>50 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>20 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>10 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5 x</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Coins</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </td>
      <td class="noborder">
        <!-- coloumn 2-->
        <h2>SBI <small>DEPOSIT/PAY IN SLIP</small></h2>
        <p>State Bank of India <small>Date: / / 2021</small></p>
        <p>Branch:</p>
        <table class="blank">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <p>Name ___________________________________________</p>
        <p>Tel No _________________________________________</p>
        <p>Email ID _______________________________________</p>
        <p>Rupees in Words ___________________________________</p>

        <table class="blank">
          <tr>
            <td colspan="6" style="background-color: black;color: white;">
              Cash/Cheque No/Date & Name of Bank & Branch</td>
          </tr>
          <tr>
            <td style="padding-right:100px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="padding-right:100px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="padding-right:100px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <p>Name of Depositor         Aadhaar No.     Signature of Depositor</p>
      </td>
    </tr>
  </table>
</body>

</html>