{% load static %}
<html>

<head>
  <meta charset="utf-8">

  <title>PAY IN SLIP</title>
</head>
<style>
  table,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .blank td {
    padding: 5px;
  }

  @page {
    size: A4 landscape;
    margin: 10px;
  }

  body {
    font-size: 12px;
  }


  .noborder {
    border: none !important;
    
  }


  #overlay {
    position: absolute;
    z-index: 100;
  }
  .handwritten {
    color: #ae2012;
  }
  span.mybox {
    display: inline;
    padding: 2px 10px;
    margin-left: 50px;
    border: 1px solid #000;
  }
</style>

<body>
  <table style="width: 100%;padding: 20px;" class="noborder">
    <tr>
      <td style="border:none;border-right: 1px dashed black; padding:10px; width: 300px;">
        <div class="bordered">
          <small>Customer foil</small>
          <div style="font-weight: bold;">
            <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px">
            <span style="font-size: 18px; font-weight: 900;">SBI <small>State Bank of India</small></span>
          </div>
          <p>Branch:</p>
          <p>Date <span style="border-bottom: 1px dashed #000; width: 260px;display: inline-block;">
            <span class="handwritten">{{date.day}}/{{date.month}}/{{date.year}}</span></span>
          </p>
          <p>Received ₹<span style="border-bottom: 1px dashed #000; width: 226px;display: inline-block;">
            <span class="handwritten">{{file.amount}}</span>
          </p>
          <p>From:<span style="border-bottom: 1px dashed #000; width: 230px;display: inline-block;">
            <span class="handwritten">.</span></span></p>
          <p style="line-height: 1;">For remittance of NEFT/RTGS by way of (i)<br>
            Transfer (only NEFT), (ii) Cash (only NEFT),<br> (iii) Cheque (NEFT/RTGS) using</p>
          <p>Cheque No<span style="border-bottom: 1px dashed #000; width: 226px;display: inline-block;">
            <span class="handwritten">. {{cheque.0}}</span></span></p>
          <p>Favouring <span style="border-bottom: 1px dashed #000; width: 225px;display: inline-block;">
            <span class="handwritten">.</span></span></p>
          <p>A/c No <span style="border-bottom: 1px dashed #000; width: 230px;display: inline-block;">
            <span class="handwritten">{{account.ac_no}}</span></span></p>
          <p>IFSC Code <span style="border-bottom: 1px dashed #000; width: 220px;display: inline-block;">
            <span class="handwritten">{{account.ifsc}}</span></span></p>
          <p>Beneficiary Bank & Branch <span style="border-bottom: 1px dashed #000; width: 270px;display: inline-block;">
            <span class="handwritten">{{account.bank}}, {{account.branch}}</span></span></p>
          <p>Amount ₹ <span style="border-bottom: 1px dashed #000; width: 226px;display: inline-block;">
            <span class="handwritten">{{file.amount}}</span></span></p>
          <p>Bank's Charges ₹ <span style="border-bottom: 1px dashed #000; width: 170px;display: inline-block;">
            <span class="handwritten">{{bankcharge}}</span></span></p>
          <p>Total ₹ <span style="border-bottom: 1px dashed #000; width: 226px;display: inline-block;">
            <span class="handwritten">{{total_amt}}</span></span></p>
          <p>(Rupees {{amount_in_words|safe}}</p>
          <p>For offic use,</p>
          <p>UTR No....... <span style="float:right">Branch Manager</span></p>

        </div>
      </td>
      <td class="noborder" style="padding:30px">
        <!-- coloumn 2-->
        <h3 style="text-align: center; text-decoration: underline;">Application for RTGS / NEFT Remittance</h3>


        <div style="font-weight: bold;" id='overlay'>
          <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px">
          <span style="font-size: 18px;">SBI </span><span style="font-size: 12px;">State Bank of India</span>
        </div>
        <div style="font-size: 14px; font-weight: bold; color:dodgerblue; margin-left: 140px;">
          <!-- इडुक्की - ७००२७ --><br><span style="font-size: 10px;">IDUKKI - 70027</span>
          <span style="font-weight:normal; color:black;">
            <span class="mybox">{% if neft_rtgs == 'neft' %}&#10003;{% endif %}</span> NEFT 
            <span class="mybox">{% if neft_rtgs == 'rtgs' %}&#10003;{% endif %}</span> RTGS
            <span style="float:right;font-size: 12px">Date: {{date.day}}/{{date.month}}/{{date.year}}</span>
          </span>
        </div>
        <p>Branch: <span style="float:right">Branch Code:.........</span></p>
        <p>Please remit the sum of <span class="handwritten">₹ {{total_amt}}(₹{{amount_in_words_no_wrap|safe}}</span></p>
        <p>By debiting my/our Account No <span style="border-bottom: 1px dashed #000; width: 226px;display: inline-block;">
          <span class="handwritten">{{applicant.account}}</span></span> by way of (i) Transfer (only NEFT), <br>(ii) Cash (Only NEFT), (iii) Cheque (NEFT/RTGS) 
          using cheque No <span style="border-bottom: 1px dashed #000; width: 120px;display: inline-block;">
            <span class="handwritten">. {{cheque.0}}</span></span>dated <span style="border-bottom: 1px dashed #000; width: 70px;display: inline-block;">
              <span class="handwritten">. {{cheque.1}}</span></span><br>
          for the total amount including your charges, as per details given below.
        </p>
        <p>Name of the Baneficiary <span style="border-bottom: 1px dashed #000; width: 500px;display: inline-block;">
          <span class="handwritten">{{account.name}}</span></span></p>
        <p>Beneficiary Bank & Branch <span style="border-bottom: 1px dashed #000; width: 226px;display: inline-block;">
          <span class="handwritten">{{account.bank}}, {{account.branch}}</span></span> IFSC Code <span style="border-bottom: 1px dashed #000; width: 226px;display: inline-block;">
            <span class="handwritten">{{account.ifsc}}</span></span></p>
        <table class="noborder">
          <tr><td class="noborder">Beneficiary Account No.</td><td class="noborder"><table>
            <tr>{% for n in account.ac_no|slice:":19" %}
            <td style="padding: 4px;"><span class="handwritten">{{n}}</span></td>
            {% endfor %}</tr></table></td></tr>
          <tr><td class="noborder">Confirm Account No.</td><td class="noborder">
            <table>
              <tr>{% for n in account.ac_no|slice:":19" %}
              <td style="padding: 4px;"><span class="handwritten">{{n}}</span></td>
              {% endfor %}</tr></table>
          </td></tr>
        </table>
        <p>Amount (in words) {{amount_in_words_no_wrap|safe}}</p>
        <p>Amount (in figures)₹ <span style="border-bottom: 1px dashed #000; width: 150px;display: inline-block;">
          <span class="handwritten">{{file.amount}}</span></span>
          Charges ₹ 
          <span style="border-bottom: 1px dashed #000; width: 150px;display: inline-block;">
            <span class="handwritten">{{bankcharge}}</span></span>
            Total ₹ 
          <span style="border-bottom: 1px dashed #000; width: 150px;display: inline-block;">
            <span class="handwritten">{{total_amt}}</span></span>
        </p>
        <p>Name of Applicant <span style="border-bottom: 1px dashed #000; width: 560px;display: inline-block;">
          <span class="handwritten">{{applicant.name}}</span></span></p>
        <p>Address <span style="border-bottom: 1px dashed #000; width: 620px;display: inline-block;">
          <span class="handwritten">{{applicant.address}}</span></span></p>
        <p>Mobile / Tel No <span style="border-bottom: 1px dashed #000; width: 270px;display: inline-block;">
            <span class="handwritten">. {{account.mobile}}</span></span>
            PAN No <span style="border-bottom: 1px dashed #000; width: 250px;display: inline-block;">
                <span class="handwritten">. {{account.pan}}</span></span></p>
        <p>Scroll No <span style="border-bottom: 1px dashed #000; width: 270px;display: inline-block;">
            <span class="handwritten">.</span></span> UTR No. & Date 
            <span style="border-bottom: 1px dashed #000; width: 250px;display: inline-block;">
                <span class="handwritten">.</span></span>
        </p>
        <p>(Please see conditions on the reverse)  <span style="float:right">Signature of Applicant(s) </span></p>
        <span style="float:right">{{applicant.name}}</span>

      </td>
    </tr>
  </table>

  <p style="page-break-before: always" ></p>

  <table style="width: 100%;" class="noborder">
    <tr>
      <td style="border:none;width: 800px;line-height: 1.6;padding: 40px;">
        <h3 style="text-align: center;">Application for RTGS / NEFT Remittance</h3>
        <strong>Conditions for Transfer :</strong>
        <ol style="text-align: justify">
            <li>All payment instructions should be carefully checked by the remitter. As crediting the proceeds
                of the remittance is based on the beneficiary's account number, the name of the other bank and 
                its branch SBI shall not be responsible if these particulars are not provided correctly by the 
                remitter.
            </li>
            <li>
                Applications / Message received after the business hours will be sent on the immediate next working
                day.
            </li>
            <li>
                SBI shall not be responsible for any delay in processing of the payment due to RBI RTGS system
                not being available / failure of internal communication system at the recipient bank / branch / incorrect 
                information provided by the remitter / Any incorrect credit accorded by the recipient bank / branch 
                due to incorrect information provided by the remitter.
            </li>
            <li>
                (i) Remitting Branch shall not be liable for any loss or damage resulting from delay in transmission
                delivery or non-delivery of electronics message or any mistake, omission or error in transmission 
                or delivery thereof or in encrypting / decrypting the message for any cause whatsoever or from 
                misinterpretation when received or for the action of the destination bank or for any act beyond the 
                control of State Bank of India.<br>

                (ii) If the recipient branch is closed for any reason, the account shall be credited on the immediate
                next working day.<br>

                (iii) Bank is free to recover charges in respect of remittances returned on account of faulty / inadequate 
                information.<br>
            </li>
            <li>
                I/We have fully read the terms and conditions of the RTGS remittance and shall abide by the same.
            </li>
        </ol>
        <br>
        <p style="text-align: center;"> (Signature of the applicant(s))</p>
        </td>
        <td class="noborder" style="padding:30px"></td>
      </tr>
    </table>

</body>

</html>