{% load static %}
<html>

<head>
  <meta charset="utf-8">

  <title>PAY IN SLIP</title>
</head>
<style>
  table,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .blank td {
    padding: 5px;
  }

  @page {
    size: A4 landscape;
    margin: 10px;
  }

  body {
    font-size: 12px;
  }


  .noborder {
    border: none !important;
    padding: 20px;
  }

  .center-table {
    min-width: 300px
  }

  .center-table td {
    text-align: center;
  }

  #overlay {
    position: absolute;
    z-index: 100;
  }

  span.mybox {
    display: inline;
    /* the default for span */
    /* width: 100px;
  height: 100px; */
    padding-left: 15px;
    margin-left: 50px;
    border: 1px solid #000;

  }
</style>

<body>
  <table class="noborder">
    <tr>
      <td style="border:none;border-right: 1px dashed black; padding:20px">
        <div class="bordered">
          <small>Customer foil</small>
          <div style="font-weight: bold;">
            <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px">
            <span style="font-size: 18px; font-weight: 900;">SBI <small>State Bank of India</small></span>
          </div>
          <p>Branch: ....................................</p>
          <p>Date: {{date.day}}/{{date.month}}/{{date.year}}</p>
          <p>Recieved ₹ {{file.amount}}</p>
          <p>From:..................................</p>
          <p style="line-height: 1;">For remittance of NEFT/RTGS by way of (i)<br>
            Transfer (only NEFT), (ii) Cash (only NEFT),<br> (iii) Cheque (NEFT/RTGS) using</p>
          <p>Cheque No.......</p>
          <p>Favouring.......</p>
          <p>A/c No.......</p>
          <p>IFSC Code.......</p>
          <p>Beneficiary Bank & Branch.......</p>
          <p>Amount ₹ {{file.amount}}</p>
          <p>Bank's Charges ₹0</p>
          <p>Total ₹ {{file.amount}}</p>
          <p>(Rupees {{amount_in_words|safe}}</p>
          <p>For offic use,</p>
          <p>UTR No....... Branch Manager</p>

        </div>
      </td>
      <td class="noborder" colspan="2" style="width: 66%;">
        <!-- coloumn 2-->
        <h3 style="text-align: center; text-decoration: underline;">Application for RTGS / NEFT Remittance</h3>


        <div style="font-weight: bold;" id='overlay'>
          <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px">
          <span style="font-size: 18px;">SBI </span><span style="font-size: 12px;">State Bank of India</span>
        </div>
        <div style="font-size: 14px; font-weight: bold; color:dodgerblue; margin-left: 140px;">
          इडुक्की - ७००२७ <br><span style="font-size: 10px;">IDUKKI - 70027</span>
          <span style="font-size:medium;font-weight:normal; color:black;">
            <span class="mybox"></span> NEFT <span class="mybox"></span> RTGS
            <span style="margin-left: 20px;">Date: {{date.day}}/{{date.month}}/{{date.year}}</span>
          </span>
        </div>
        <p>Branch: .............. Branch Code:.........</p>
        <p>Please remit the sum of ₹ {{file.amount}}(₹{{amount_in_words|safe}})</p>
        <p>By debiting my/our Account No................................ by way of (i) Transfer<br>
          (only NEFT, (ii) Cash (Only NEFT), (iii) Cheque (NEFT/RTGS) using cheque No...........dated....<br>
          for the total amount including your charges, as per details given below.
        </p>
        <p>Name of the Baneficiary...............................</p>
        <p>Beneficiary Bank & Branch ........................IFSC Code........</p>
        <p>Beneficiary Account No.</p>
        <p>Confirm Account No.</p>
        <p>Amount (in words) {{amount_in_words|safe}}</p>
        <p>Amount (in figures)₹ {{file.amount}}Charges ₹ 0 Total ₹ {{file.amount}}</p>
        <p>Name of Applicant...................</p>
        <p>Address ................</p>
        <p>Mobile / Tel No............... PAN No................</p>
        <p>Scroll No ................. UTR No. & Date .............</p>
        <p>(Please see conditions on the reverse)  Signature of Applicant(s)............</p>


      </td>
    </tr>
  </table>


</body>

</html>