{% load static %}
<html>

<head>
  <meta charset="utf-8">

  <title>PAY IN SLIP</title>
</head>
<style>
  table,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .blank td {
    padding: 5px;
  }

  @page {
    size: A4 landscape;
    margin: 10px;
  }

  body {
    font-size: 12px;
  }


  .noborder {
    border: none !important;
    padding: 20px;
  }
  .center-table {
    min-width: 300px
  }
  .center-table td {
    text-align: center;
  }
</style>

<body>
  <table class="noborder">
    <tr>
      <td style="border:none;border-right: 1px dashed black; padding:20px">
        <div class="bordered">
          <div style="font-weight: bold;">
            <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px"> 
            <span style="font-size: 20px;">SBI </span>
            <span style="font-size: 12px;">DEPOSIT/PAY IN SLIP</span>
          </div>
          <strong>State Bank of India</strong> <span style="float: right;">Date: {{date.day}}/{{date.month}}/{{date.year}}</span><br>
          Branch:{{file.account.branch}}<br>
          <span style="font-size: 70%;">SB/CA/RD/OD/CC/TL/DL A/C No./Credit Card No</span>
          <table>
            <tr>
              {% for n in file.account.ac_no %}
              <td style="padding: 4px;">{{n}}</td>
              {% endfor %}
            </tr>
          </table>
          <p>Name <span style="border-bottom: 1px solid #000;">{{file.account.name}}</span>
          </p>
          <p>Tel No <span style="border-bottom: 1px solid #000;">{{file.account.telephone}}</span>
          </p>
          Amount <table class="blank">
            <tr>
              <td style="min-width:160px; text-align: right;">{{file.amount}}</td>
              <td>00</td>
            </tr>
          </table>
          <p>Rupees in Words: {{amount_in_words|safe}}</p>
          <table class="blank">
            <tr>
              <td colspan="6" style="background-color: black;color: white;">
                Cash/Cheque No/Date & Name of Bank & Branch</td>
            </tr>
            <tr>
              <td style="padding-right:100px"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td style="padding-right:100px"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td style="padding-right:100px"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td style="border-bottom-style: hidden; border-left-style: hidden;">
                <div style="text-align: right;">Total</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </td>
      <td class="noborder">
        <!-- coloumn 2-->
        <table class="center-table">
          <tr>
            <td colspan="4" style="text-align: left;">
              <div style="padding: 5px;">
                PAN No.

                <table class="blank">
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
                OR
                Form 60
                <table class="blank">
                  <tr>
                    <td></td>
                  </tr>
                </table>
                <span style="font-size: 6px;">For Cash Deposit of rs 50,000/- & Above</span>


              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="background-color: black;color: white;">
              CASH DEPOSIT</td>
          </tr>
          <tr>
            <td>Notes</td>
            <td>No.</td>
            <td>₹</td>
            <td>P</td>
          </tr>
          {% for row in denoms %}
          <tr>
            <td style="padding-right: 20px; padding-left: 20px;">{{row.note}}</td>
            <td>{{row.nums}}</td>
            <td>{{row.amt}}</td>
            <td>-</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2" style="border-bottom-style: hidden; border-left-style: hidden;">
              <div style="text-align: right;">Total</div>
            </td>
            <td>{{file.amount}}</td>
            <td>-</td>
          </tr>
        </table>
      </td>
      <td class="noborder">
        <!-- coloumn 3-->
        <div style="font-weight: bold;">
          <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px"> 
          <span style="font-size: 20px;">SBI </span>
          <span style="font-size: 12px;">DEPOSIT/PAY IN SLIP</span>
        </div>

        <strong>State Bank of India</strong> <span style="float: right;">Date <table style="display:inline-table"><tr><td>{{date.day}}</td><td>{{date.month}}</td><td>{{date.year}}</td></tr></table></span><br>
        <strong>Branch:</strong>{{file.account.branch}}<br>

        <span style="font-size: 70%;">SB/CA/RD/OD/CC/TL/DL A/C No./Credit Card No</span>
        <table>
          <tr>
            {% for n in file.account.ac_no %}
              <td style="padding: 4px;">{{n}}</td>
              {% endfor %}
            </tr>
          </table>
        
          <p>Name <span style="border-bottom: 1px solid #000; padding-bottom: 3px">{{file.account.name}}</span>
          </p>
          <p>Tel No <span style="border-bottom: 1px solid #000; padding-bottom: 3px">{{file.account.telephone}}</span>
          </p>
          
        <p>Email ID _______________________________________</p>
        <!-- <p>Rupees in Words ___________________________________</p> -->
        <p>Rupees in Words: {{amount_in_words|safe}}</p>
        <table class="blank">
          <tr>
            <td colspan="6" style="background-color: black;color: white;">
              Cash/Cheque No/Date & Name of Bank & Branch</td>
          </tr>
          <tr>
            <td style="padding-right:100px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="padding-right:100px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="padding-right:100px"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="border-bottom-style: hidden; border-left-style: hidden;">
              <div style="text-align: right;">Total</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <p>Name of Depositor Aadhaar No. Signature of Depositor</p>
      </td>
    </tr>
  </table>


</body>

</html>