{% load static %}
<html>

<head>
  <meta charset="utf-8">

  <title>PAY IN SLIP</title>
</head>
<style>
  table,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .blank td {
    padding: 5px;
  }

  @page {
    size: A4 landscape;
    margin: 10px;
  }

  body {
    font-size: 12px;
  }


  .noborder {
    border: none !important;
    padding: 20px;
  }
  .center-table {
    min-width: 300px
  }
  .center-table td {
    text-align: center;
  }
  .handwritten {
    color: #ae2012;
  }
</style>

<body>
  <table class="noborder">
    <tr>
      <td style="border:none;border-right: 1px dashed black; padding:20px">
        <!-- 
          ===============================================
          coloumn 1
          ===============================================
        -->
        <div class="bordered">
          <div style="font-weight: bold;">
            <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px"> 
            <span style="font-size: 20px;">SBI </span>
            <span style="font-size: 12px;">DEPOSIT/PAY IN SLIP</span>
          </div>
          <strong>State Bank of India</strong> <span style="float: right;">Date: <span class="handwritten"> {{date.day|stringformat:"02d"}}/{{date.month|stringformat:"02d"}}/{{date.year}}</span></span><br>
          Branch:{{account.branch}}<br>
          <span style="font-size: 70%;">SB/CA/RD/OD/CC/TL/DL A/C No./Credit Card No</span>
          <table>
            <tr>
              {% for n in account.ac_no|slice:":19" %}
              <td style="padding: 4px;"><span class="handwritten">{{n}}</span></td>
              {% endfor %}
            </tr>
          </table>
          <p>
            Name: <span style="border-bottom: 1px solid #000; width: 260px;display: inline-block;"><span class="handwritten">{{account.name}}</span></span>
          </p>
          <p>Tel No: <span style="border-bottom: 1px solid #000; width: 255px;display: inline-block;"><span class="handwritten">{{account.telephone}}</span></span>
          </p>
          Amount <table class="blank">
            <tr>
              <td style="min-width:160px; text-align: right;"><span class="handwritten">{{file.amount}}</span></td>
              <td><span class="handwritten">00</span></td>
            </tr>
          </table>
          <p>Rupees in Words: <span class="handwritten">{{amount_in_words|safe}}</span></p>
          <table class="blank">
            <tr>
              <td colspan="6" style="background-color: black;color: white;">
                Cash/Cheque No/Date & Name of Bank & Branch</td>
            </tr>
            {% if cheque %}
          <tr>
            <td style="padding-right:100px"><span class="handwritten">Cheque: {{cheque.1}}</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="handwritten">{{cheque.0}}</span></td>
            <td></td>
          </tr>
          {% endif %}
          {% if denom_total %}
          <tr>
            <td style="padding-right:100px"><span class="handwritten">Cash:</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="handwritten">{{denom_total}}</span></td>
            <td></td>
          </tr>
          {% endif %}
            <tr>
              <td style="border-bottom-style: hidden; border-left-style: hidden;">
                <div style="text-align: right;">Total</div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td><span class="handwritten">{{file.amount}}</span></td>
              <td><span class="handwritten">00</span></td>
            </tr>
          </table>
        </div>
      </td>
      <td class="noborder">


        <!-- 
          ===============================================
          coloumn 2
          ===============================================
        -->
        <table class="center-table">
          <tr>
            <td colspan="4" style="text-align: left;">
              <div style="padding: 5px;">
                PAN No.
                <table>
                  <tr>
                    {% if account.pan %}
                      {% for n in account.pan|upper %}
                      <td style="padding: 4px;"><span class="handwritten">{{n}}</span></td>
                      {% endfor %}
                    {% else %}
                    {# if no pan show blank cells #}
                      {% for n in '........' %}<td style="padding: 4px;"></td>{% endfor %}
                    {% endif %}
                  </tr>
                </table>

                OR
                Form 60
                <table class="blank">
                  <tr>
                    <td></td>
                  </tr>
                </table>
                <span style="font-size: 8px;">For Cash Deposit of rs 50,000/- & Above</span>


              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4" style="background-color: black;color: white;">
              CASH DEPOSIT</td>
          </tr>
          <tr>
            <td>Notes</td>
            <td>No.</td>
            <td>₹</td>
            <td>P</td>
          </tr>
          {% for row in denoms %}
          <tr>
            <td style="padding-right: 20px; padding-left: 20px;">{{row.note}}</td>
            <td><span class="handwritten">{{row.nums}}</span></td>
            <td><span class="handwritten">{{row.amt}}</span></td>
            <td></td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="2" style="border-bottom-style: hidden; border-left-style: hidden;">
              <div style="text-align: right;">Total</div>
            </td>
            <td><span class="handwritten">{% if denom_total %}{{denom_total}}{% endif %}</span></td>
            <td>-</td>
          </tr>
        </table>
      </td>
      <td class="noborder">
        <!-- 
          ===============================================
          coloumn 3
          ===============================================
        -->
        <div style="font-weight: bold;">
          <img src="{{url}}{% static 'sbi.svg' %}" style="height:16px"> 
          <span style="font-size: 20px;">SBI </span>
          <span style="font-size: 12px;">DEPOSIT/PAY IN SLIP</span>
        </div>

        <strong>State Bank of India</strong> <span style="float: right;">Date <table style="display:inline-table"><tr><td class="handwritten">{{date.day|stringformat:"02d"}}</td><td class="handwritten">{{date.month|stringformat:"02d"}}</td><td class="handwritten">{{date.year}}</td></tr></table></span><br>
        <strong>Branch:</strong><span class="handwritten">{{account.branch}}</span><br>

        <span style="font-size: 70%;">SB/CA/RD/OD/CC/TL/DL A/C No./Credit Card No</span>
        <table>
          <tr>
            {% for n in account.ac_no|slice:":19" %}
              <td style="padding: 4px;"><span class="handwritten">{{n}}</span></td>
              {% endfor %}
            </tr>
          </table>
        
          <p>Name: <span style="border-bottom: 1px solid #000; width: 260px;display: inline-block; padding-bottom: 3px"><span class="handwritten">{{account.name}}</span></span></p>
          <p>Tel No: <span style="border-bottom: 1px solid #000; width: 255px;display: inline-block; padding-bottom: 3px"><span class="handwritten">{{account.telephone}}</span></span></p>
          <p>Email ID: <span style="border-bottom: 1px solid #000; width: 243px;display: inline-block; padding-bottom: 3px"><span class="handwritten">{{account.email}}</span></span></p>
        <!-- <p>Rupees in Words ___________________________________</p> -->
        <p>Rupees in Words: <span class="handwritten">{{amount_in_words|safe}}</span></p>
        <table class="blank">
          <tr>
            <td colspan="6" style="background-color: black;color: white;">
              Cash/Cheque No/Date & Name of Bank & Branch</td>
          </tr>
          {% if cheque %}
          <tr>
            <td style="padding-right:100px"><span class="handwritten">Cheque: {{cheque.1}}</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="handwritten">{{cheque.0}}</span></td>
            <td></td>
          </tr>
          {% endif %}
          {% if denom_total %}
          <tr>
            <td style="padding-right:100px"><span class="handwritten">Cash:</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="handwritten">{{denom_total}}</span></td>
            <td></td>
          </tr>
          {% endif %}
          <tr>
            <td style="border-bottom-style: hidden; border-left-style: hidden;">
              <div style="text-align: right;">Total</div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td><span class="handwritten">{{file.amount}}</span></td>
            <td><span class="handwritten">00</span></td>
          </tr>
        </table>
        <p><small>Name of Depositor Aadhaar No. Signature of Depositor</small></p>
      </td>
    </tr>
  </table>


</body>

</html>