{% if bank %}
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bank: {{bank.BANK}}</h5>
        <small>-</small>
      </div>
      <p class="mb-1">Branch: {{bank.BRANCH}}</p>
      <small>Address:{{bank.ADDRESS}}</small>
    </a>
  </div>


<div class="card">
    <div class="card-header">
      Center: {{bank.CENTRE}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">BANKCODE: {{bank.BANKCODE}}</li>
      <li class="list-group-item">CITY: {{bank.CITY}}</li>
      <li class="list-group-item">CONTACT: {{bank.CONTACT}}</li>
      <li class="list-group-item">DISTRICT: {{bank.DISTRICT}}</li>
      <li class="list-group-item">IFSC: {{bank.IFSC}}</li>
      <li class="list-group-item">IMPS: {{bank.IMPS}}</li>
      <li class="list-group-item">MICR: {{bank.MICR}}</li>
      <li class="list-group-item">NEFT: {{bank.NEFT}}</li>
      <li class="list-group-item">RTGS: {{bank.RTGS}}</li>
      <li class="list-group-item">STATE: {{bank.STATE}}</li>
      <li class="list-group-item">SWIFT: {{bank.SWIFT}}</li>
      <li class="list-group-item">UPI: {{bank.UPI}}</li>


    </ul>
  </div>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong> IFSC Code not found.</strong> Please check IFSC code again!
  </div>

{% endif %}

