{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block extracss %}

    {% block extraextracss %}{% endblock %}
{% endblock %}


{% block content %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
{{ message }}
</div>
{% endfor %}
<div class="card text-center">
    {% block extraextra_content %}{% endblock %}
    <hr>
    <div class="card-body">
        Challans(Latest 5)
        <table class="table table-bordered">
        <thead>
        <tr><td>Name</td><td>Amount</td><td>Created Date/Time</td><td>PDF Download</td><td></td></tr>
        </thead>
        {% for file in files %}
        <tr{% if messages and forloop.counter == 1 %} style="font-weight:bold;"{%endif%}>
            <!-- <td>{{file.id}}</td> -->
            <td>{{file.name}}</td>
            <td style="text-align: right;">{{file.amount|floatformat:2}}₹</td>
            <td>{{file.uploading_date}}<br>
                <small>{{file.uploading_date|naturaltime}}</small></td>
            <td>
                <a href="{% if file.challanfile %}{{file.challanfile.url}}{% endif%}">
                    <img src="{% static 'pdf.svg' %}" style="height:30px"> Download
                </a>
            </td>
            <td>
                <form method="post" action="{% url 'delete_challan' %}">{% csrf_token %}
                    {% if otherbank %}<input type="hidden" value="1" name="otherbank">{% endif %}
                    <input type="hidden" value="{{file.id}}" name="challanid">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <!-- <tr>
            <th colspan="5"><a class="btn btn-primary">Show More</a></th>
        </tr> -->
        </table>
    </div>
</div>

{% endblock %}
