{% extends 'sbi/base.html' %}
{% load static %}
{% block extraextracss %}
<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block extraextra_content %}

<div class="card-header">
  {% include '_header.html' with active='other' %}
</div>
<div class="card-body">
  <form method="post" action=".">{% csrf_token %}
    <div class="row mb-3">
      <label for="acno" class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-10 col-sm-11">
            <select id="sel_account" name="acno" class="form-control" required>
              <option value=''>--Select--</option>
            </select>
          </div>
          <div class="col-2 col-sm-1">
            <button class="btn btn-success btn-sm" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">A/C No.</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" disabled id="txt_acno">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-danger" id="btn_delete_ac"><i class="fa fa-trash fa-lg"></i></button>
          
      </div>
    </div>

    <div class="row mb-3">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Cheque 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row mb-3">
                <label for="chequenumber" class="col-sm-4 col-form-label">Cheque Number</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="txtchequenumber" name="chequenumber">
                </div>
              </div>
              <div class="row mb-3">
                <label for="chequedate" class="col-sm-4 col-form-label">Cheque Date</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" id="txtchequedate" name="chequedate">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="neft_rtgs" id="inlineRadio1" value="neft" checked>
      <label class="form-check-label" for="inlineRadio1">NEFT</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="neft_rtgs" id="inlineRadio2" value="rtgs">
      <label class="form-check-label" for="inlineRadio2">RTGS</label>
    </div>

    <div class="row mb-3">
      <label for="amount" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-4">
        <input class="form-control" id="txtamount" name="amount" required>
      </div>
      <label for="amount" class="col-sm-3 col-form-label">Bank Charge</label>
      <div class="col-sm-3">
        <input class="form-control" name="bankcharge" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="applicant" class="col-sm-2 col-form-label">Applicant:</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-8 col-sm-9">
            <select name="applicant" id="applicantSelect" class="form-control" required>
              <option value=''>--Select--</option>
              {% for applicant in applicants %} 
              <option value='{{applicant.id}}'>{{applicant.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-4 col-sm-3">
            <div class="btn-group" role="group" aria-label="Delete and Add Button group">
              <button type="button" class="btn btn-danger" id="btn_delete_applicant"><i class="fa fa-trash fa-lg"></i></button>
              <button class="btn btn-success" type="button" data-bs-toggle="modal"
              data-bs-target="#applicantModal"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div><hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="submit">Generate Challan</button>
      </div>
  </form>
</div>




<!-- 
  MODAL
  =================================================================================
-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form id="frm_addaccount">{% csrf_token %}
          <div class="errormsg"></div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">A/C no:</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="ac_no"></textarea>
            </div>
          </div>


          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Tel No.:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="mobile">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">PAN:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="pan" style="text-transform:uppercase">
            </div>
          </div>


          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">IFSC:</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="IFSC code" name="ifsc" id="txt_ifsc">
                <button type="submit" class="btn btn-secondary" id="btn_ifsc">Get Bank Details</button>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Bank:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="id_bank" name="bank">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Branch:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="id_branch" name="branch">
            </div>
          </div>

        <div id="bank_details"></div>
        </form>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn_add_account">Save A/c</button>
      </div>
    </div>
  </div>
</div>

<!-- 
  Applicant MODAL
  =================================================================================
-->

<div class="modal fade" id="applicantModal" tabindex="-1" aria-labelledby="applicantModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applicantModalLabel">Edit Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="frm_applicant">{% csrf_token %}
          <div class="errormsg"></div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Address:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="address">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Account No:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="account">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn_add_applicant">Add Applicant</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extrajs %}
<script src="{% static 'select2/select2.min.js' %}"></script>
<script>

  let ac_data = {{ accounts| safe}};
  function setTextboxes(data) {
    $("#txt_acno").val(data['account']);
    // $("#txt_telephone").val(data['account']);

  }

  $('#sel_account').select2({ placeholder: 'Select account', data: ac_data });
  $('#sel_account').on('select2:select', function (e) {

    setTextboxes(e.params.data);
  });




  $("#btn_ifsc").click(function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'ajax_ifsc' %}",
      data: { 'ifsc': $("#txt_ifsc").val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'}
    }).done(function (msg) { 
      if (msg['status'] == 'success'){
        let resp = msg['data'];
        // bank_details = `
        //   <ul class="list-group">
        //     <li class="list-group-item active" aria-current="true">${resp['bank']}</li>
        //     <li class="list-group-item">Branch: ${resp['branch']}</li>
        //     <li class="list-group-item">City: ${resp['city']}</li>
        //   </ul>`;
          $("#id_bank").val(resp['bank']);
          $("#id_branch").val(resp['branch']);

      } else  {
        $("#bank_details").html(`<div class="alert alert-danger" role="alert">
            <strong> IFSC Code not found.</strong> Please check IFSC code again!
          </div>`);
      }
      // $("#bank_details").html(bank_details); 
    });
  });

  $("#btn_add_account").click(function (e) {
    e.preventDefault();
    let addperiod = $('#exampleModal');
    let datas = $('#frm_addaccount').serializeArray();
    $.ajax({
      type: "POST",
      url: "{% url 'otherbankaccount' %}",
      data: datas
    }).done(function (resp) {
      // $('#frm_addevent :input').each(function(){this.disabled = false;});
      if (resp['status'] == 'success') {
        addperiod.modal('hide');
        let newdata = resp['data'];
        ac_data.push(newdata);
        setTextboxes(newdata);
        $('#sel_account').select2({ data: ac_data });
        $("#sel_account").val(newdata['id']).trigger('change');
        $("#frm_addaccount").trigger("reset");
        $("#bank_details").html(); 
      } else {
        addperiod.find('.errormsg').html('<div class="alert alert-danger">' + resp['data'] + '</div>');
      }

    });
  });

  $("#btn_delete_ac").click(function (e) {
    let ac_id = $("#sel_account").val();
    if (ac_id) {
      // ajax delete account
      $.ajax({
        type: "DELETE",
        url: `/account/${ac_id}/?ac=other`,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken",'{{ csrf_token }}');
        },
      }).done(function (resp) {
        // refresh 
        location.reload();
      });
      
    } else {
      alert('Please select an account.')
    }
  });


  $("#btn_add_applicant").click(function (e) {
    e.preventDefault();
    let addapplicant = $('#applicantModal');
    let datas = $('#frm_applicant').serializeArray();  
    $.ajax({
      type: "POST",
      url: `/applicant/add/`,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken",'{{ csrf_token }}');
      },
      data: datas
    }).done(function (resp) {
      if (resp['status'] == 'success') {
        // update applicant select box
        $('#applicantSelect').append($('<option>', {
            value: resp['id'],
            text: resp['name']
        }));
        addapplicant.modal('hide');
        $("#frm_applicant").trigger("reset");

      } else {
        addapplicant.find('.errormsg').html('<div class="alert alert-danger">' + resp['data'] + '</div>');
      }

    });
  });

  $("#btn_delete_applicant").click(function (e) {
    let applicant_id = $("#applicantSelect").val();
    if (applicant_id) {
      // ajax delete account
      $.ajax({
        type: "DELETE",
        url: `/applicant/delete/${applicant_id}/`,
        beforeSend: function(xhr) {
            xhr.setRequestHeader("X-CSRFToken",'{{ csrf_token }}');
        },
      }).done(function (resp) {
        // refresh 
        location.reload();
      });
      
    } else {
      alert('Please select a applicant.')
    }
    
  });
</script>

{% endblock %}